<h1 class="text-center">Nutritional Values</h1>

<h3 class="text-center">Add a Food</h3>
<div class="container text-center">
  <form #foodForm='ngForm'>
    <input type="text" name="nameAndAmount" placeholder="Name and Amount" ngModel>
    <br>
    <input type="number" name="calories" placeholder="Calories" ngModel>
    <br>
    <input type="number" name="caloriesFromFat" placeholder="Calories From Fat" ngModel>
    <br>
    <input type="number" name="totalFat" placeholder="Total Fat" ngModel>
    <br>
    <input type="number" name="cholesterol" placeholder="Cholesterol" ngModel>
    <br>
    <input type="number" name="sodium" placeholder="Sodium" ngModel>
    <br>
    <input type="number" name="potassium" placeholder="Potassium" ngModel>
    <br>
    <input type="number" name="totalCarbohydrate" placeholder="Total Carbohydrates" ngModel>
    <br>
    <input type="number" name="dietaryFiber" placeholder="Dietary Fiber" ngModel>
    <br>
    <input type="number" name="sugars" placeholder="Sugars" ngModel>
    <br>
    <input type="number" name="protein" placeholder="Protein" ngModel>
    <br>
    <button type="submit" (click)="addNutrition(foodForm)">Add Food</button>

  </form>
</div>
<br>


<div *ngIf=editNutrition>
  <form>
    <input type="text" name="nameAndAmount" placeholder="Name and Amount" [(ngModel)]="editNutrition.nameAndAmount">
    <br>
    <input type="number" name="calories" placeholder="Calories" [(ngModel)]="editNutrition.calories">
    <br>
    <input type="number" name="caloriesFromFat" placeholder="Calories From Fat" [(ngModel)]="editNutrition.caloriesFromFat">
    <br>
    <input type="number" name="totalFat" placeholder="Total Fat" [(ngModel)]="editNutrition.totalFat">
    <br>
    <input type="number" name="cholesterol" placeholder="Cholesterol" [(ngModel)]="editNutrition.cholesterol">
    <br>
    <input type="number" name="sodium" placeholder="Sodium" [(ngModel)]="editNutrition.sodium">
    <br>
    <input type="number" name="potassium" placeholder="Potassium" [(ngModel)]="editNutrition.potassium">
    <br>
    <input type="number" name="totalCarbohydrate" placeholder="Total Carbohydrates" [(ngModel)]="editNutrition.totalCarbohydrate">
    <br>
    <input type="number" name="dietaryFiber" placeholder="Dietary Fiber" [(ngModel)]="editNutrition.dietaryFiber">
    <br>
    <input type="number" name="sugars" placeholder="Sugars" [(ngModel)]="editNutrition.sugars">
    <br>
    <input type="number" name="protein" placeholder="Protein" [(ngModel)]="editNutrition.protein">
    <br>
    <button class="btn-outline-primary" (click)="updateNutrition(editNutrition)">Update</button>
    <button class="btn-outline-primary" (click)="editNutrition = null">Cancel</button>
  </form>
</div>


<div class="container-fluid text-center">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Food and Amount</th>
        <th>Calories</th>
        <th>Calories From Fat</th>
        <th>Total Fat</th>
        <th>Saturated Fat</th>
        <th>Trans Fat</th>
        <th>Cholesterol</th>
        <th> Sodium</th>
        <th>Potassium</th>
        <th>Total Carbohydrates</th>
        <th>Dietary Fiber</th>
        <th>Sugars</th>
        <th>Protein</th>
      </tr>
    </thead>
    <tbody *ngFor="let nutrition of nutritions">
      <tr>
        <td>{{nutrition.nameAndAmount}}</td>
        <td>{{nutrition.calories}}</td>
        <td>{{nutrition.caloriesFromFat}}</td>
        <td>{{nutrition.totalFat}}</td>
        <td>{{nutrition.saturatedFat}}</td>
        <td>{{nutrition.transFat}}</td>
        <td>{{nutrition.cholesterol}}</td>
        <td>{{nutrition.sodium}}</td>
        <td>{{nutrition.potassium}}</td>
        <td>{{nutrition.totalCarbohydrate}}</td>
        <td>{{nutrition.dietaryFiber}}</td>
        <td>{{nutrition.sugars}}</td>
        <td>{{nutrition.protein}}</td>
        <td><button class="btn-danger" name="delete" type="submit" (click)="deleteNutrition(nutrition.id)">X</button></td>
        <td><button name="updateNutrition" type="submit" (click)="setEditNutrition(nutrition)">Edit Values</button></td>
      </tr>
    </tbody>

